{% load static %}

<header>
  <nav class="navbar navbar-expand-md sticky-top navbar-light" style="background-color: lightskyblue">
    <div class="container">
      <button type="button"  data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle"
              aria-controls="navbarCollapse" aria-expanded="true">
        <span class="navbar-toggle-icon"></span>
      </button>
      <a class="navbar-brand" href="{% url 'posts:index' %}">
        <img src="{% static 'img/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
        <span style="color:red">Ya</span>tube
      </a>
      {% with request.resolver_match.view_name as view_name %}
        <div id="navbarCollapse" class="collapse navbar-collapse navbar-right">
{#        {% with request.resolver_match.view_name as view_name %}#}
          <ul class="nav nav-pills ml-auto">
            <li class="nav-item">
              <a class="nav-link {% if view_name  == 'about:author' %}active{% endif %}"
                href="{% url 'about:author' %}"
              >
                Об авторе
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if view_name  == 'about:tech' %}active{% endif %}"
                href="{% url 'about:tech' %}"
              >
                Технологии
              </a>
            </li>
            <!-- пункты меню видны только авторизованному пользователю -->
            {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link {% if view_name  == 'posts:post_create' %}active{% endif %}"
                  href="{% url 'posts:post_create' %}"
                >
                  Новая запись
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link link-light {% if view_name  == 'users:password_change' %}active{% endif %}"
                  href="{% url 'users:password_change' %}"
                >
                  Изменить пароль
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link link-light {% if view_name  == 'users:logout' %}active{% endif %}"
                  href="{% url 'users:logout' %}"
                >
                  Выйти
                </a>
              </li>
              <li>
                Пользователь: {{ user.username }}
              <li>
            <!-- конец пункты меню видны только авторизованному пользователю -->
            <!-- пункты меню видны только неавторизованному пользователю -->
            {% else %}
              <li class="nav-item">
                <a class="nav-link link-light {% if view_name  == 'users:login' %}active{% endif %}"
                  href="{% url 'users:login' %}"
                >
                  Войти
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link link-light {% if view_name  == 'users:signup' %}active{% endif %}"
                  href="{% url 'users:signup' %}"
                >
                  Регистрация
                </a>
              </li>
            {% endif %}
            <!-- конец пункты меню видны только неавторизованному пользователю -->
          </ul>
{#          <form action="" class="d-flex">#}
{#            <input type="search" placeholder="" class="form-control mr-auto ml-2">#}
{#            <button class="btn btn-outline-light">Поиск</button>#}
{#          </form>#}
        </div>
      {% endwith %}
    </div>
  </nav>
</header>
